.BODY{
    .khung{
        a{
            text-decoration: none;
            font-size: 30px;
            color: rgb(236, 195, 8);
            &:hover{
                text-decoration: underline;
            }
        }
        div{
         color: white;
        }
    }
}
