.container {
    position: relative;
    text-align: center;
    color: white;
    div{
      display: none;
      font-weight: 1000;
    }
    
    &:hover{
        div{
            display: block;
          }
          img{
            opacity: 0.8;
          }
    }
  }
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .ant-modal .ant-modal-content {
    position: relative;
    padding: 0;
    button{
      color: red;
      span{
        font-size: 30px;
        }
    }
   
  }
  .ant-modal-title{
    display: none;
  }
  