.contents-page {

    width: 1140px;
    margin: 0 auto;
    .dt-contents{
        display: flex;
        // justify-content: space-around;
    }
    .title{
        h1{
            font-family: 'Open Sans Condensed',sans-serif;
            font-weight: 700;
            padding-top: 30px;
        }
   
    }
    a{
        text-decoration: none;
        color:#333;
        font-weight: 700;
        font-family: 'Open Sans Condensed',sans-serif;
        &:hover{
            color: #e63e8c;
        }
    }
    
}
.scrollable-container {
    width: 500px; /* Kích thước xác định cho khung điền chữ */
    height: 100px;
    overflow: auto; /* Cho phép cuộn nội dung khi vượt quá kích thước khung */
    padding-top: 10px;
    
      
  }
  .scrollable-container::-webkit-scrollbar {
    width: 4px; /* Chiều rộng của thanh cuộn */
  }
//   .scrollable-container::-webkit-scrollbar-track {
//     background: #f1f1f1; /* Màu nền của vùng track */
//   }
  .scrollable-container::-webkit-scrollbar-thumb {
    background: #888; /* Màu của thanh cuộn */
  }
  
  
  .content {
  color: #ece4e4  ;
  }
  .container-image{
    position: relative;
    text-align: center;
    color: white;
    .centered {
        position: absolute;
        top: 50%;
        // left: 50%;
        transform: translate(156%, -50%);
      }
      .play{
        &:hover{
            border: 2px solid white;
        }
      }
  }
  .container-image{
    background: url(https://www.megagscinemas.vn/Images/home/bg-img-detail_02.png) no-repeat;
  }
  .datve{
    button{
        font-weight: 600;
        &:hover{
            border: 1px solid rgb(232, 243, 235);
            color: red;
        }
    }
    div{
        color: #fffbfb;
        font-size: 22px;
    }
  }
  .underline {
    width: 97%;
    height: 1px;
    background-color: rgb(214, 211, 211);
    float: right;
  }
  .vertical-line {
    width: 1px;
    height: 400px;
    background-color: rgb(185, 180, 180);
  }

  .fullscreen-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: 9999;
    // border: none; /* Loại bỏ viền của iframe nếu cần thiết */
  }