.container {
    position: relative;
    text-align: center;
    color: white;
    div{
      display: none;
      font-weight: 1000;
    }
    
    &:hover{
        div{
            display: block;
          }
          img{
            opacity: 0.8;
          }
    }
  }
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .ant-modal .ant-modal-content {
    position: relative;
    padding-bottom: 50px;
    button{
      color: red;
      span{
        font-size: 30px;
        padding-bottom: 50px;
        }
    }
  }
  .ant-modal-title{
    display: none;
  }
  .fullscreen-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }