.container {
    position: relative;
    text-align: center;
    color: white;
    div{
      display: none;
      font-weight: 1000;
    }
    &:hover{
        div{
            display: block;
          }
          img{
            opacity: 0.8;
          }
    }
  }
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }


