* {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #313132;
    height: 128px;

    .logo-header {
        padding-top: 15px;

        img {
            max-width: 100%;
            vertical-align: middle;
            border: 0;
            padding-right: 40px;
        }
    }

    .content-header {
        .content-top {
            display: flex;
            flex-direction: row;
            padding-top: 25px;
            padding-left: 30px;
            line-height: 40px;
            ul,
            li,
            a {
                display: flex;
                flex-direction: row;
                color: #fff;
                font-weight: 500;
                padding-right: 5px;
                text-transform: uppercase;
                font-size: 13px;
                text-decoration: none;

            }

            div {
                padding-left: 50px;
                padding-right: 15px;
            }
        }

        .content-bot {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
            background-color: rgb(224, 210, 11);
            text-align: center;
            text-transform: uppercase;
            opacity: 0.95;

            b {
                color: #111113;
                font-size: 26px;
                font-weight: 900;
                padding: 6px 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            a {
                text-decoration: none;
            }

            ul {
                width: 29px;
                height: 29px;
                display: inline-block;
                position: relative;
                top: 10px;
            }
        }
    }
}

.hello {
    height: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to left, rgb(243, 12, 12), rgba(218, 18, 4, 0.87), yellow, green, rgb(37, 143, 78), rgb(236, 64, 20), rgb(218, 205, 25));
    font-size: 20;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.dangxuat {
    position: absolute;
    padding-top: 20px;
    height: 2px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}