.all-uudai {
    display: block;
    background-color: rgb(122, 110, 110);

    a {
        text-decoration: none;

    }
    .box {
        padding-top: 25px;
        padding-left: 20px;
        padding-bottom: 15px;

        div {
            color: white;
        }
    }

    img {
        border: 2px solid white;

        &:hover {
            border: 2px solid rgb(226, 9, 9);
        }
    }
}

.slick-prev:before,
.slick-next:before {
    font-size: 50px;
    color: rgb(206, 106, 24);
margin-right: auto;
}
.slick-prev{
    z-index: 100;
    padding-right: 199px    ;
}
.slick-next{
    padding-right: 40px;
}