.ant-tabs-content-holder {
    .abc {
        width: 800px;
    }

    .contentss {
        background-color: rgb(190, 169, 127);
        display: flex;
        flex-direction: column;
        div {

            padding: 5px 0;
        }
    }

    a {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: rgb(1, 12, 12);
        font-weight: 1000;
        font-size: 15px;

        &:hover {
            color: rgb(245, 162, 60);
        }
    }

    span {
        font-weight: 700;
    }

}

.ant-tabs-content {
    display: block;
    justify-content: center;

    // max-width: 500px;
}

.image {
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}
a{
    text-decoration: none;
    color:#333;
    font-weight: 700;
    font-family: 'Open Sans Condensed',sans-serif;
    &:hover{
        color: #e63e8c;
    }
}
.fullscreen-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: 9999;
    // border: none; /* Loại bỏ viền của iframe nếu cần thiết */
  }
  